In [2]:
x=5

In [6]:
valor_texto = input("escribe el dia de la semana")
print("el dia de la semana es",valor_texto)

el dia de la semana es lunes

In [10]:
nombre_lista= [12,"clau"]
nombre_lista[0]

12

In [ ]:
# append aÃ±adir un elemento a la lista
insert: insertar un elemento en medio de la lista
count cuenta cuantas veces estta un valor repr
remove : eliminar el primer elemento encontrado
del nombre lista [] asi se elimina un indice en concretooo
lista para ver una lista que se genera con rangeee
range genera numeros y le podemos ajustar tanto el valor inicial como el valor final y el set_matplotlib_close
bucle for, un codigo que se repetia, hasta que se cumple una condicion dada. dinitos o infinitos y tiene asociada una variable, y esta contendra cada vez el valor de una coleccion (normalmente es una lista)
#una variable necesarioa para poder controlar el numero de iteracion en el que estamos
#iter
#for i in lista: el bucle tiene identacion y andes de volver a repetir el codigo tengo que incrementar en 1
# iter = iter + 2
iter+=2

In [ ]:
#la estructura de decision if, analiza una condicion o prueba logica y si se cumple ejecuta una parte verdadera alternativamente puedo ejecutra una parte falsa
#consiste en comparar valores mediante un operador de comparacion
# > mayor que
# < menor que 
# == igual
#!= distinto

In [16]:
ciudad="Brcelona"
if ciudad == "Barcelona":
    #parte true
    print("es Barcelona")
else:
    print("No es Barcelona")

No es Barcelona

In [ ]:
#practica 1: mediante la lista de meses y mediante un bucle for, imprimir (output) todos los meses menos el mes de mayo.
#practica 2: mediante la lista de numeros (15,33,48,63,25,18,74,88)
#mediante un bucle for imprimir (output) solamente los numeros mayores de 40

In [19]:
meses=["enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre"]
meses

['enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre']

In [45]:
meses=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
for mes in meses:
    if mes!="mayo":
        print(mes)

enero
febrero
marzo
abril
junio
julio
agosto
septiembre
octubre
noviembre
diciembre

In [50]:
numeros=[15,33,48,63,25,18,74,88]
for numero in numeros:
    if numero<40:
        print(numero)

15
33
25
18

In [56]:
# , con la lista meses y mediante un bucle for, imprimir todos los meses, cuyo numero de caracteres sea igual a 5
meses=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
for mes in meses:
    if mes==len(meses)==5:
        print(mes)

In [60]:
for mes in meses:
    if len(mes)==5:
        print(mes)

enero
marzo
abril
junio
julio

In [62]:
#en una estructura if, tengo 2 opciones de devolucion
if prueba logica:
    #opcion 1
#else opcion 2
#necesito clasificar un numero por tramos, usaremos elif

numero=30
if numero<10:
    print("numero entre 0-<10")
elif numero<30:
    print("numero esta entre 10-<30")
else:
    print("Numero mayor o igual de 30")

SyntaxError: invalid syntax (4175314840.py, line 2)

In [65]:
numero=2
if numero<10:
    print("numero entre 0-<10")
elif numero<30:
    print("numero esta entre 10-<30")
else:
    print("Numero mayor o igual de 30")

numero entre 0-<10

In [ ]:
#practica 4: clasificar el vaor de la variable diamante con un valor inicial de 5, que iremos cambiando para comprobar, que muestre un texto que nos indisuq su clasificacion
con multiplos de 25, hasta el 100 y ademas proteger que los numeros sean positivos, en caso de negativo o mayor que 100 que muestre un mensaje "fuera de rango"

In [77]:
diamante= input("ponga el numero a clasificar")
diamante= int(diamante)
if diamante<25:
    print("el numero esta entre 0-<25")
elif diamante<100:
    print("numero esta entre 25-<100")
else:
    print("fuera de rango")

el numero esta entre 0-<25

In [ ]:
#Operadores de logica el and y el or
sirven para analizar varias condiciones y devolver verdadero o falso

In [80]:
if diamante<25 or diamante>100:
    print("correcto")

correcto

In [ ]:
#ya hemos visto la estructura de decision if, vamo sa ver la alternativa, switch ... case, solo disponible en las versiones de python 3.10

In [83]:
x=10
match x:
    case 1:
        print("seria el 1")
    case 5:
        print("seria el 5")
    case 10:
        print("octubre")
    case default:
        print("no correcto")

octubre

In [84]:
#Como salir de un bucle, con la instruccion break
palabra = "Domingo"
for letra in palabra:
    if letra=="n":
        break
    else:
        print(letra)

D
o
m
i

In [85]:
for letra in palabra:
    if letra=="n":
        continue
    else:
        print(letra)

D
o
m
i
g
o

In [86]:
#funciones de texto interesantes
palabra= "domingo"
palabra.upper()

'DOMINGO'

In [87]:
#convertir a minusculas lower 
print(palabra.lower())

domingo

In [89]:
#Reemplazar valores
palabra.replace("o","@")

'd@ming@'

In [95]:
palabra = "Esto seria una frase"
lista= palabra.split()
print(lista)
lista[1]

['Esto', 'seria', 'una', 'frase']

'seria'

In [ ]:
#Practica 5: Imprimir las letras por separados de la palabra 
supercalifragilisticoespialidoso, imprimir en mayusculas, menos la letra a
#Practica 6: Con la lista de numeros [18,25,33,17,36,44,67] #imprimir los numeros de manera individual, mientras la suma de los valores imprimidos sea menor de 120.
#practica 7: imprimir la lista de las siguientes ciudades Barcelona, Murcia, Toledo, Bilbao, Salamanca, Teruel, Burgos, Madrid, Tarragona en minuscula, siempre y cuando el numero de caracteres de su nombre sea dif de 6

In [ ]:
practica 7: imprimir la lista de las siguientes ciudades Barcelona, Murcia, Toledo, Bilbao, Salamanca, Teruel, Burgos, Madrid, Tarragona en minuscula, siempre y cuando el numero de caracteres de su nombre sea dif de 6

In [121]:
ciudades = ["Barcelona", "Murcia", "Toledo", "Bilbao", "Salamanca", "Teruel", "Burgos", "Madrid", "Tarragona"]
for ciudad in ciudades:
    if len(ciudad)!=6:
        print(ciudad.lower())

barcelona
salamanca
tarragona

In [113]:
palabra = "supercalifragilisticoespialidoso"
for letra in palabra:
    if letra=="a":
        continue
    else:
        print(letra.upper())

S
U
P
E
R
C
L
I
F
R
G
I
L
I
S
T
I
C
O
E
S
P
I
L
I
D
O
S
O

In [120]:
numeros=[18,25,33,17,36,44,67]
acumulado = 0
for numero in numeros:
    acumulado+=numero
    if acumulado>120:
        break
    print(numero)

18
25
33
17

In [ ]:
#practica 8: partiendo de la variable frase que contendra el valor
#"el viernes os quiero ver aqui a todos, se donde vivir" imprimir las palabras por individual con el num de orden correct, usando la funcion classFilter(admin.SimpleListFilter):

    title = ''
    parameter_name = ''

    def lookups(self, request, model_admin):
        pass

    def queryset(self, request, queryset):
        return queryset

In [ ]:
frase= "el viernes os quiero ver aqui a todos, se donde vivis"
frase=frase.replace(",","")
for palabra in frase.split():
    print(palabra)

el
viernes
os
quiero
ver
aqui
a
todos
se
donde
vivis