In [7]:
import pandas as pd
titanic=pd.read_csv("C:/Users/formacio/Downloads/Titanic.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Pepe, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,"71,2833",C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,"23,45",NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,"7,75",NaN,Q

In [11]:
FtitanicC1=titanic["Pclass"]==1
titanic[FtitanicC1]
#cOMO CONTAR CUANDOS PASAJEROS ERAN CLASE 1
numero_pasajeros=titanic[FtitanicC1].PassengerId.count()
print("el numero de pasajeros de la clase 1 es",numero_pasajeros)

el numero de pasajeros de la clase 1 es 216

In [14]:
#Como aplicar mas de una condicion al filtro, usaremos los operador de logica OR y AND
#eL OR devuelve verdader, si se cumple una sola de las c ondiciones que se analizan y el AND devuelve verdadero #si se cumplen todas las condiciones
#OR= | (AltGR+1)
#AND = &
FtitanicC1C3 = (titanic["Pclass"]==1) | (titanic["Pclass"]==3)
print(titanic[FtitanicC1C3].PassengerId.count())

707

In [19]:
FtitanicNaN=titanic["Cabin"].isnull()
titanic[FtitanicNaN].PassengerId.count()

np.int64(687)

In [21]:
#Ver la lista de pasajeros que es de la clase 2 y que embarco por la puerta embarked
FtitanicC2ES=(titanic["Pclass"]==2)&(titanic["Embarked"]=="S")
titanic[FtitanicC2ES].PassengerId.count()

np.int64(164)

In [23]:
#Los valores unicos de un campo, con funcion unique
print(titanic["Embarked"].unique())

['S' 'C' 'Q' nan]

In [ ]:
#PRACTICA 1: VER LA CANTIDAD O NUMERO DE PASAJEROS QUE SON HOMBRES, DE LA CLASE 1 Y QUE EMBARCARON POR LA PUERTA C
#2:Ver solamente los nombres de los pasajeros de la clase 3 que no sobrevivieron.
#3:Ver una lista de nombres cuyo passenger id esta comprendido entre 70 y 180 
#4:Ver en un texto el % que representa los pasajeros que embarcaron por la puerta s con respecto al total "el % de pasajeros que embarco por la puerta S es XX%"

In [29]:
FtitanicHC1=(titanic["Pclass"]==1)&(titanic["Embarked"]=="C")&(titanic["Sex"]=="male")
titanic[FtitanicHC1].PassengerId.count()

np.int64(42)

In [ ]:
#3:Ver una lista de nombres cuyo passenger id esta comprendido entre 70 y 180 
Ftitanic78=(titanic["PassengerId"]>=70)&(titanic["PassengerId"]<=180)
titanic[Ftitanic78["Name","PassengerId"]]

_IncompleteInputError: incomplete input (1164150776.py, line 3)

In [72]:
#2:Ver solamente los nombres de los pasajeros de la clase 3 que no sobrevivieron.
FtitanicNC3=(titanic["Pclass"]==3)&(titanic["Survived"]==0)
return[FtitanicNC3["Name"])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2084152074.py, line 3)

In [ ]:
#4:Ver en un texto el % que representa los pasajeros que embarcaron por la puerta s con respecto al total "el % de pasajeros que embarco por la puerta S es XX%"

In [70]:
FtitanicPPS=titanic["Embarked"]=="S"
pasajerosS=titanic[FtitanicPPS].PassengerId.count()
pasajerosT=titanic.PassengerId.count()
porcentaje=(pasajerosS/pasajerosT)*100
print(int(porcentaje),2)

72 2